@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
}

body {
    background-color: deeppink;
}

.wrapper {
    margin: 50px;
    color: #575757;

    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 250px);
}

.wrapper>div {
    background-color: #fff;
    border-radius: 5px;
    height: 250px;
    padding: 15px 20px;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: deeppink;
}

.add p {
    font-weight: bold;
    padding-top: 20px;
}

.icon {
    font-size: 40px;
    border: 2px dashed deeppink;

    height: 80px;
    width: 80px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.note-title {
    font-size: 22px;
}

.content {
    font-size: 16px;
}

/*******************/

.menu-container {
    position: relative;

}

.menu {
    position: absolute;
    bottom: 0;
    right: -5px;

    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    transform: scale(0);
}

.menu-container:hover .menu {
    transform: scale(1);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
}

.menu-container .menu li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding: 2px 18px;
    margin: 8px 0;

    cursor: pointer;

}

.menu-container .menu li:hover {
    background-color: #f5f5f5;
}

.menu-container .menu li i {
    padding-right: 8px;

}

/******************/

.overlay {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}


.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    border-radius: 5px;
    color: #575757;

    max-width: 400px;
    width: 100%;
}

.popup-container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px 20px;
    font-size: 22px;
    border-bottom: 1px solid #ccc;
}

.popup-container header  i{
    cursor: pointer;
}

.popup-container form {
    margin: 15px 25px 35px;
}
.popup-container form .row{
    margin-bottom: 20px;
}

.popup-container form .row label{
    display: block;
    margin-bottom: 10px;
}


.popup-container form :where(input,textarea){
    width: 100%;
    outline: none;
    border: 1px solid #8b8989;
    border-radius: 4px;
    padding: 15px;
}

form textarea{
    resize: none;
    height: 150px;
}

form button{
    width: 100%;
    border: none;
    padding: 15px;
    background-color: deeppink;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}