@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body {
    background-color: blueviolet;
}

.wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 250px);

    margin: 50px;
}

.wrapper>div {
    background-color: #fff;
    border-radius: 5px;
    height: 250px;
    padding: 20px;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: blueviolet;

    cursor: pointer;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    border: 2px dashed blueviolet;

    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add p {
    font-weight: bold;
    padding-top: 20px;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #575757;

    cursor: pointer;
}

.title {
    font-size: 22px;
}

.content {
    font-size: 16px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 14px;

    border-top: 1px solid #CCC;
    padding-top: 10px;
}

.settings {
    cursor: pointer;

    position: relative;
}

.settings .menu {
    position: absolute;
    bottom: 0;
    right: -5px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

    transform: scale(0);
}

.settings:hover .menu {
    transform: scale(1);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
}

.settings .menu li {
    cursor: pointer;

    padding: 8px 10px;
    margin: 5px 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.settings .menu li:hover {
    background-color: #f5f5f5;
}

.settings .menu li i {

    padding-right: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 2;

    opacity: 0;
    pointer-events: none;
}

.overlay.show{
    opacity: 1;
    pointer-events: auto;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #575757;
    background-color: #fff;
    border-radius: 5px;

    max-width: 400px;
    width: 100%;
}

.popup header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #ccc;

    padding: 10px 20px;

}

.popup form {
    margin: 20px;
}

.popup form .row{
    margin-bottom: 20px;
}

.popup-title {
    font-size: 22px;
}

.popup form :where(input, textarea) {
    width: 100%;
    outline: none;

    border: 1px solid #8b8989;
    border-radius: 4px;
    padding: 10px 15px;

}

.popup form label {
    display: block;
    margin-bottom: 5px;
}

.popup form textarea{
    resize: none;
    height: 150px;
}

.popup form button{
  width: 100%;
  border: none;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 4px;
  color: #fff;

  cursor: pointer;
}